*{
    margin: 0;
  }

  /*@media only screen and (max-width: 600px) {
    h1 {color: #D0BD45;}

  }

  @media only screen and (min-width: 600px) {
        h1 {color: #22B5F6;}
  }*/


.title-bar { 
  width: 89vw; /* Set the width of the box */
  height: 12vh;
  background-color: #161717; /* Add a background color */
  margin-left: 10vw; /*Add space outside the border and center the box */
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);  Add a subtle shadow */
  border-radius: 0px; /* Round the corners */
}

.buttonbox {
  width: 20vw;
  height: 9vw;
  background-color: #161717;
  outline: #22B5F6;
}

.buttonbox:hover {
  width: 20vw;
  height: 9vw;
  background-color: #161717;
  box-shadow: 0px 0px 15px #22B5F6;
  outline: #22B5F6;
}

body {
    background-color: #343638;
}

h2 { 
font-family: variable;
font-weight: variable;
color: #22B5F6;
text-align: center;
padding-top: 1vh;
}

h3 {
font-family: variable;
font-weight: variable;
color: #D0BD45;
text-align: center;
}

a {
font-family: variable;
font-weight: variable;
color: #D0BD45;
text-align: center;
display: inline;
font-size: 20px;
transition: color 0.5s;
}

a:hover { 
font-family: variable;
font-weight: variable;
color: #e4d469;
text-align: center;
display: inline;
font-size: 20px;
}

.buttontext {
font-family: variable;
font-weight: variable;
color: #22B5F6;
text-align: center;
display: inline;
font-size: 20px;
margin: 10%;
text-decoration: none;
/*transition: color 0.5s;*/
}

.buttontext:hover {
font-family: variable;
font-weight: variable;
color: #D0BD45;
text-align: center;
display: inline;
font-size: 20px;
margin: 10%;
}

h1 { 
font-family: variable;
font-weight: variable;
color: #FFFFFF;
text-align: center;
margin: 3vh;
}

p {
font-family: variable;
font-weight: variable;
color: #ffffff;
text-align: auto;
margin-left: 15%;
margin-right: 3%;
margin-bottom: 15px;
}

.p-intro {
font-family: variable;
font-weight: variable;
color: #ffffff;
text-align: auto;
margin-left: 15%;
margin-right: 3%;
}

/*h2, a {
  width: 50%;
  height: 60px;
  margin: 30%;
  padding: 0;
  display: inline;
  text-align: center;
}*/

.sidenav {
  height: 100%;
  width: 12vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #161717;
  overflow-x: hidden;
  padding-top: 0px;
} 