

.title-bar { 
  width: 91%; /* Set the width of the box */
  height: 12vh;
  background-color: #161717; /* Add a background color */
  margin-left: 10vw; /*Add space outside the border and center the box */
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);  Add a subtle shadow */
  border-radius: 0px; /* Round the corners */
}

.textcontainer {
  width: auto;
  max-width: 875px;
  margin: auto;
  margin-left: 15vw
  /*border: 2px solid #22B5F6;*/
}

.belowthebutton {
  width: 100%;
  margin: auto;
  margin-top: 11.1vh;
  padding-top: 10px;
  padding-left: 10px;
  /*border: 2px solid #22B5F6;*/
}

@font-face {
  font-family: 'ocr-a';
  src: url(fonts/ocr-a-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'helvetica';
  src: url(fonts/helvetica-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'vega';
  src: url(fonts/Vega-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'typewriter';
  src: url(fonts/typewriter-text-light.ttf) format('truetype');
}



button {
  width: 150px;
  height: 30px;
  background-color: #161717;
  outline: 1px solid #22B5F6;
  margin: 1vw;

}

button:hover {
  /*width: 20vw;
  height: 9vw;*/
  background-color: #161717;
  box-shadow: 0px 0px 15px #22B5F6;
  outline: 1px solid #22B5F6;
}


body {
    background-color: #343638;
}

h2 { 
font-family: 'vega';
font-weight: variable;
color: #22B5F6;
text-align: center;
margin: 5px;
margin-top: 0;
}

a > footer {
text-decoration: none;
}

h2 > footer {
color: #FFFFFF;
}

h3 {
font-family: variable;
font-weight: variable;
color: #D0BD45;
text-align: center;
}

a {
font-family: 'vega';
font-weight: variable;
color: #D0BD45;
/*text-align: center;
display: inline;
transition: color 0.5s;*/
}

a:hover { 
font-weight: variable;
color: #e4d469;
text-align: center;
display: inline;
}

.buttontext {
font-family: variable;
font-weight: variable;
/*color: #22B5F6;*/
font-size: 20px;
text-decoration: none;
display: inline-flex;
align-items: center;
/*transition: color 0.5s;*/
}

.buttontext a:hover {
font-family: variable;
font-weight: variable;
/*color: #D0BD45;*/
font-size: 20px;
display: inline-flex;
align-items: center;
}

h1 { 
font-family: 'vega';
font-weight: variable;
color: #FFFFFF;
text-align: center;
margin: 3vh;
text-decoration: none;
}

p {
font-family: 'typewriter';
font-weight: variable;
color: #ffffff;
text-align: auto;
/*margin-left: 15%;
margin-right: 3%;*/
margin-bottom: 15px;
}

.p-intro {
font-family: variable;
font-weight: variable;
color: #ffffff;
text-align: auto;
margin-left: 15%;
margin-right: 3%;
}

/*h2, a {
  width: 50%;
  height: 60px;
  margin: 30%;
  padding: 0;
  display: inline;
  text-align: center;
}*/

.sidenav {
  height: 100%;
  width: 12.5vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #161717;
  overflow-x: hidden;
  padding-top: 0px;
} 

#popoutsidenav {
  height: 100%;
  width: 0vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #161717;
  overflow-x: hidden;
  padding-top: 0px;
  border: 0px, solid, #22B5F6;
} 

/*.sidebar {
  height: 100%;
  width: 0vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #161717;
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.5s;
}*/

nav {
position: relative;
margin: auto;
}

footer {
  background-color: #161717;
  height: 8vh;
  width: 88.5vw;
  margin-left: 10vw;
}

/*@media screen and (max-width: 768px) {
    button {margin-left: 4vw; margin-right: 4vw;}
}*/

@media only screen and (max-width: 600px) {
    h2 {font-size: 22px;}
    a {font-size: 20px;}
    p {font-size: 14px;}
    button {margin-left: 2vw; margin-right: 2vw;}
  }

@media only screen and (min-width: 600px) {
        h2 {font-size: 30px;}
        a {font-size: 25px;}
        p {font-size: 16px;}
        button {margin-left: 4vw; margin-right: 4vw;}

}

.topleftbutton {
  height: 12vh;
  width: 12.5vw;
  position:fixed;
  margin: 0vw;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #343638;
  outline: none;
}

.topleftbutton:hover {
  height: 12vh;
  width: 12.5vw;
  position:fixed;
  margin: 0vw;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #343638;
  outline: none;
  box-shadow: 0px 0px 0px;
}

button, .buttontext {color: #22B5F6;}

button:hover > .buttontext { color: #D0BD45; }

.navigation {
  
  /* Collapsed */
  width: 0; 

  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #161717;
}

.page-wrap {
  width: 100%;
  float: right;
}

*{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

  