.title-bar { 
  width: 90vw; /* Set the width of the box */
  height: 50px; /* Set the height of the box */
  background-color: #161717; /* Add a background color */
  padding: 30px; /* Add space between content and border */
  margin-left: 10%; /* Add space outside the border and center the box */
  margin-right: 0%;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);  Add a subtle shadow */
  border-radius: 0px; /* Round the corners */
  overflow-x: hidden;
}

body {
    background-color: #343638;
}