.title-bar { 
  width: 89vw; /* Set the width of the box */
  height: 12vh;
  background-color: #161717; /* Add a background color */
  margin-left: 10vw; /*Add space outside the border and center the box */
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);  Add a subtle shadow */
  border-radius: 0px; /* Round the corners */
}
*{
    margin: 0;
  }

body {
    background-color: #343638;
}