.title {
    width: 90%; /* Set the width of the box */
    height: 150; /* Set the height of the box */
    background-color: #161717; /* Add a background color */
    padding: 30px; /* Add space between content and border */
    margin-left: 10% ; /* Add space outside the border and center the box */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);  Add a subtle shadow */
    border-radius: 0px; /* Round the corners */
}

.sidenav {
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #161717;
  overflow-x: hidden;
  padding-top: 0px;
}